<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Emergency Contact Manager App</title>
</head>
<body>

<section>
    <div class="container text-center">
        <div>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="card text-center" style="width: 18rem;">
                            <img th:src="@{/images/Abir-Sir.jpg}" height="280" width="286">
                            <div class="card-body">
                                <b class="card-text">Dr. Md. Abir Hossain</b>
                                <p class="card-text">Project Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--row-2-->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/images/Abir-Sir1.jpg}" height="280" width="286">
                        <div class="card-body">
                            <b class="card-text">Shovan Saha</b>
                            <i class="card-text">IT-19033</i>
                            <p class="card-text">Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/images/}" height="280" width="286">
                        <div class="card-body">
                            <b class="card-text">Md.Mehedi Hasan</b>
                            <i class="card-text">IT-19034</i>
                            <p class="card-text">Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/images/}" height="280" width="286">
                        <div class="card-body">
                            <b class="card-text">Nayeem Khan Jim</b>
                            <i class="card-text">IT-19035</i>
                            <p class="card-text">Developer</p>
                        </div>
                    </div>
                </div>
                <!--row-1-->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/images/}" height="280" width="286">
                        <div class="card-body">
                            <b class="card-text">Prodip Sarkar </b>
                            <i class="card-text">IT-19036</i>
                            <p class="card-text">Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/images/}" height="280" width="286">
                        <div class="card-body">
                            <b class="card-text">Sweety</b>
                            <i class="card-text">IT-1903</i>
                            <p class="card-text">Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/images/}" alt="Developer" height="280" width="286">
                        <div class="card-body">
                            <b class="card-text">Ahosanul Hasan Roki</b>
                            <i class="card-text">IT-1903</i>
                            <p class="card-text">Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
